<!DOCTYPE html>
<html lang="en">
  <head>
      <!-- Latest compiled and minified CSS -->
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
      <link href="{{url_for('static', filename='sticky-footer.css')}}" rel="stylesheet">
      <script type="text/javascript" src="/media/main.js"></script>
      {% block head %}{% endblock %}
      <title>popmachine</title>
  </head>

  <body>

    <div class='container'>
      <div class="page-header">
        <h1><a href="{{url_for('index')}}">popmachine</a> <small> {% block subheading %}{% endblock %} </small></h1>
      </div>
    </div>

<!-- <div class='container'> -->
    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img height=30px alt="Brand" src="{{url_for("static",filename='flask-small.png')}}"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="{{url_for("index")}}">Home</a></li>
            <li><a href="{{url_for('project.projects')}}">Projects</a></li>
            <li><a href="{{url_for('plate.plates')}}">Plates</a></li>
            <li><a href="{{url_for('design.designs')}}">Designs</a></li>
            <li><a href="{{url_for("phenotypes")}}">Phenotypes</a></li>
            <!-- <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Actions <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{url_for('plate.plate_create')}}">Plate create</a></li>
              </ul>
            </li> -->
          </ul>
          <form class="navbar-form navbar-left" action="{{url_for('search')}}" method='POST'>
            <button type="submit" class="btn btn-default">
               <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
            </button>
            <div class="form-group">
              {{ searchform.search(size=38,placeholder=" e.g. species=E. coli, P. aeruginosa") }}
              <!-- <input type="text" class="form-control" placeholder="Search"> -->
            </div>
            <!-- <button type="submit" class="btn btn-default">Submit</button> -->
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{url_for("index")}}">about</a></li>
            {% if current_user.is_authenticated %}
              <!-- <li class='navbar-brand'></li> -->
              <li><a href="{{url_for('logout')}}">log-out</a></li>
            {% else %}
              <li><a href="{{url_for('login')}}">log-in</a></li>
            {% endif %}

            {% if current_user.is_authenticated %}
              <li class="navbar-text navbar-right">Hi {{ current_user.name }}!</li>
            {% endif %}
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class='container'>
      <div class = 'row'>
        <div id="content" class='col-md-12'>
            {% block fullcontent %}{% endblock %}
        </div>
      </div>
      <div class = 'row'>
        <div id="controls" class='col-md-1'>
            {% block controls %}{% endblock %}
        </div>

        <div id="content" class='col-md-10'>
            {% block content %}{% endblock %}
        </div>

        <div id="content" class='col-md-1'>

          {% with messages = get_flashed_messages() %}
            {% if messages %}
              <h4> messages </h4>
              <!-- <ul class=flashes> -->
              {% for message in messages %}
                <!-- <li>{{ message }}</li> -->
                {{ message }}
              {% endfor %}
              <!-- </ul> -->
            {% endif %}
          {% endwith %}
        </div>
      </div>
      <!-- <div class = 'row'>
        <div id="controls" class='navbar navbar-fixed-bottom'>
            <p class="text-center">&copy; 2017 Peter Tonner</p>
        </div>
      </div> -->
      <!-- <footer class = 'bs-class-footer'>
            &copy; 2017 Peter Tonner
      </footer> -->
    </div>

    <footer class="footer">
      <div class="container">
        <p class="text-muted text-center">&copy; 2017 Peter Tonner</p>
      </div>
    </footer>

  </body>
</html>
