{% extends "base.html" %}

{% block subheading %}
B-GREAT
{% endblock %}

{% block content %}

<p>
  <strong>B-GREAT</strong> is a general, non-parametric method for analyzing population growth data [1].
</p>

<p>
  [1] Peter D. Tonner, Cynthia L. Darnell, Barbara E. Engelhardt and Amy K. Schmid,
  <a href="http://genome.cshlp.org/content/early/2017/01/23/gr.210286.116">Detecting differential growth of microbial populations with Gaussian process regression</a>. Genome Research, 2016
</p>


{% endblock %}
