{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block subheading %}
{{name}} delete
{% endblock %}

{% block content %}

<form action="{{url}}" method='POST'>
  <button type="submit" id="myButton" class="btn btn-danger" data-loading-text="Deleting...">
     <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete {{name}} (are you sure?)
  </button>
  <script>
    $('#myButton').on('click', function () {
      var $btn = $(this).button('loading')
    })
  </script>
</form>

{% endblock %}
