{% extends "base.html" %}

{% block subheading %}
designs
{% endblock %}

{% block content %}
{% if designs %}

<!-- <div class="container">
  <div class='row'>
    <div class="col-md-6"> -->

    <table class='table table-hover'>
      <thead>
        <tr>
          <th class='text-center'>design</th>
          <th class='text-center'>project</th>
          <th class='text-center'>values</th>
          <th class='text-center'>type</th>
        </tr>
      </thead>
      <tbody>
        {% for d in designs %}
            <tr>
              <td class='text-center'> <a href="{{url_for('design.design', _id=d.id)}}"> {{ d.name|e }} </a></td>
              <td class='text-center'> <a href="{{url_for('project.project', projectid=d.project.id)}}"> {{d.project.name }} </a></td>
              <td class='text-center'>{{d.values | length}}</td>
              <td class='text-center'>{{d.type }}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
  <!-- </div>
</div>

</div> -->
{% endif %}
{% endblock %}
