{% extends "dataset.html" %}

{% block subheading %}
<a href='{{url_for('design.design', _id=design.id)}}'> {{design.name}} </a>
{% if plate is not none %}
  ({{plate}})
{% endif %}
{% endblock %}

{% block controls %}

<!-- <form action="{{url_for('design.design',_id=design.id)}}" method='POST' enctype="multipart/form-data">
  <div class="form-group">
    <label for="platename">Design type</label>
    {{ designform.type(class_="form-control") }}
  </div>
  <button type="submit" id="myButton" class="btn btn-default" data-loading-text="Updating...">
     <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Update
  </button>
  <script>
    $('#myButton').on('click', function () {
      var $btn = $(this).button('loading')
    })
  </script>
</form> -->

<div class="btn-group-vertical" role="group" >
  <a href='{{url_for('design.design_edit', _id=design.id)}}' role="button" class="btn btn-success btn-large">Edit</a>
</div>

{% endblock %}

{% block noplot %}
<h2> Too many wells (> 200) for plotting </h2>
{% endblock %}

{% block beforeplot %}

<h2> {{design.name}} </h2>

<table class="table table-bordered">
  <tr>
    <td class="col-md-2"> description </td>
    <td> {{design.description}}</td>
  </tr>
  <tr>
    <td class="col-md-2"> protocol </td>
    <td> {{design.protocol}}</td>
  </tr>
  <tr>
    <td class="col-md-2"> type </td>
    <td> {{design.type}}</td>
  </tr>
  <tr>
    <td class="col-md-2"> unique values </td>
    <td> {{values.all() | length}} </td>
  </tr>
  <tr>
    <td class="col-md-2"> project </td>
    <td> <a href="{{url_for('project.project', projectid=design.project.id)}}"> {{ design.project.name|e }} </a> </td>
  </tr>

</table>
{% endblock %}

{% block afterplot %}

<div>
  <table class='table table-hover'>
    <thead>
      <tr>
        <th class='text-center'>value</th>
        <th class='text-center'>size</th>
      </tr>
    </thead>
    <tbody>
      {% for v in values %}
          <tr>
            <td> <a href='{{url_for('experimentalDesign', _id=v.id)}}'>  {{ v.value }} </a> </td>
            <td> {{ v.wells | length}} </td>
          </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
