{% extends "base.html" %}

{% block subheading %}
{{experimentalDesign.design.name}}={{experimentalDesign.value}}
{% endblock %}

{% block head %}
  {% if js_resources %}
    {{ js_resources|indent(4)|safe }}
    {{ css_resources|indent(4)|safe }}
    {{ plot_script|indent(4)|safe }}
  {% endif %}
{% endblock %}

{% block content %}

{% if js_resources %}
    {{ plot_div|indent(4)|safe }}
  {% else %}
    <h2> No data found! </h2>
{% endif %}

{% if wells %}
<div>
  <table class='table table-hover'>
    <thead>
      <tr>
        <th class='text-center'>well</th>
        <th class='text-center'>plate</th>
      </tr>
    </thead>
    <tbody>
      {% for w in wells %}
          <tr>
            <td> {{ w.id }} </td>
            <td> {{ w.plate}} </td>
          </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}

{% endblock %}
