{% extends "dataset.html" %}

<!-- {% block subheading %}
{{phenotype.name}}
{% endblock %} -->

{% block controls %}
<div class="btn-group-vertical" role="group" >
  <a href='{{url_for("index")}}' role="button" class="btn btn-success btn-large">Edit</a>
  <a href='{{url_for("index")}}' role="button" class="btn btn-primary btn-large">Model</a>
  <a href='{{url_for("index")}}' role="button" class="btn btn-danger btn-large">Delete</a>
</div>
{% endblock %}

{% block beforeplot %}
{% if phenotype %}

    <table class="table table-bordered">
      <tr>
        <td class="col-md-2"> created by </td>
        <td> {{phenotype.owner.name}}</td>
      </tr>
      <tr>
        <td class="col-md-2"> project </td>
        <td> <a href="{{url_for('project', projectid=phenotype.project.id)}}"> {{phenotype.project.name}} </a></td>
      </tr>
    </table>

    <h3> design space </h3>
    <!-- <table class="table table-bordered">
      <tr>
        <th> design </th>
        <th> values </th>
      </tr>

      {% for d in phenotype.designs %}
        <tr>
          <td> <a href="{{url_for('design', _id=d.id)}}"> {{d.name}} </a> </td>
          <td>
            {% for v in values[d.name] %}
              {{v.value}},
            {% endfor %}
          </td>
        </tr>
      {% endfor %}
    </table> -->

    <table class="table table-bordered">
      <tr>
        {% for d in phenotype.designs %}
            <th> <a href="{{url_for('design', _id=d.id)}}"> {{d.name}} </a> </th>
        {% endfor %}
        <th> control? </th>
      </tr>
      {% for d in dsp %}
        <tr>
          {% for v in d %}
              <td> <a href="{{url_for('experimentalDesign', _id=v.id)}}"> {{v.value}} </a> </td>
          {% endfor %}
          <td> {% if phenotype.control == loop.index0 %} <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>   {% endif %} </td>
        </tr>
      {% endfor %}
    </table>


{% endif %}
{% endblock %}
