{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block subheading %}
phenotype {% if operation %} {{operation}} {% else %} edit {% endif %}
{% endblock %}

{% block content %}

<form action="{{url_for('misc.phenotype_create')}}" method='POST' enctype="multipart/form-data">
  <div class="form-group">
    <label for="platename">Phenotype name</label>
    {{ form.name(size=30,placeholder="phenotype name", class_="form-control") }}
  </div>
  <button type="submit" id="myButton" class="btn btn-default" data-loading-text="Creating...">
     <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Create
  </button>
  <script>
    $('#myButton').on('click', function () {
      var $btn = $(this).button('loading')
    })
  </script>
</form>

{% endblock %}
