{% extends "base.html" %}

{% block subheading %}
plates
{% endblock %}

{% block controls %}

<nav class="bs-docs-sidebar">
  <ul class="nav nav-stacked">
    <li class=""> <a href="{{url_for('plate_create')}}" ><button type="button" class="btn btn-primary">Create</button> </a> </li>
  </ul>
</nav>

{% endblock %}

{% block content %}
{% if plates %}

<div class="container">
  <div class='row'>
    <div class="col-md-6">

    <table class='table table-hover'>
      <thead>
        <tr>
          <th class='text-center'>plate</th>
          <th class='text-center'>wells</th>
        </tr>
      </thead>
      <tbody>
        {% for plate in plates %}
            <tr>
              <td class='text-center'> <a href="{{url_for('plate', platename=plate.name)}}"> {{ plate.name|e }} </a></td>
              <td class='text-center'>{{plate.wells | length}}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

</div>
{% endif %}
{% endblock %}
