{% extends "base.html" %}

{% block head %}
  <!-- td a {
   display: block;
   border: 1px solid black;
   padding: 16px;
  } -->
{% endblock %}

{% block subheading %}
{{plate.name}}
{% endblock %}

{% block controls %}
<!-- <nav class="bs-docs-sidebar hidden-print hidden-sm hidden-xs affix-top">
  <ul class="nav bs-docs-sidenav">
    <li class=""> <button type="button" class="btn btn-primary">Design</button> </li>
    <li class=""> <button type="button" class="btn btn-danger">Delete</button> </li>
  </ul>
</nav> -->

<nav class="bs-docs-sidebar">
  <ul class="nav nav-pills nav-stacked">
    <!-- <li class=""> <button type="button" class="btn btn-primary">Design</button> </li> -->
    <li class=""> <a href='{{url_for("plate_delete", platename=plate.name)}}'> <button type="button" class="btn btn-danger">Delete</button> </a> </li>
  </ul>
</nav>

{% endblock %}

{% block content %}

{% if plate %}
  <div class='container'>
    {% if designs %}
      <div class='row'>
        <div class="col-md-6">
            <h2> Designs </h2>
        </div>
      </div>
      <div class='row'>
        <div class="col-md-6">
          <table class='table table-hover'>
              <thead>
                <tr>
                  <th class='text-center'>design</th>
                  <th class='text-center'>values</th>
                </tr>
              </thead>
              <tbody>
                {% for d in designs %}
                    <tr>
                      <td class='text-center'> <a href='{{url_for('design', _id=d.id, plate=plate.name)}}'> {{ d.name }} </a></td>
                      <td class='text-center'>
                        {% for ed in d.values|sort(attribute='value') %}
                          <a href='{{url_for('experimentalDesign', _id=ed.id, plate=plate.name)}}'> {{ ed.value }} </a>,
                        {% endfor %}
                      </td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
      </div>
    </div>
    {% endif %}
{% endif %}

{% endblock %}
