{% extends "base.html" %}

{% block head %}
  <!-- td a {
   display: block;
   border: 1px solid black;
   padding: 16px;
  } -->
{% endblock %}

{% block subheading %}
{{plate.name}}
{% endblock %}

{% block controls %}
<!-- <nav class="bs-docs-sidebar hidden-print hidden-sm hidden-xs affix-top">
  <ul class="nav bs-docs-sidenav">
    <li class=""> <button type="button" class="btn btn-primary">Design</button> </li>
    <li class=""> <button type="button" class="btn btn-danger">Delete</button> </li>
  </ul>
</nav> -->

<div class="btn-group-vertical" role="group" >
  <a href='{{url_for("index")}}' role="button" class="btn btn-success btn-large"> Edit </a>
  <a href='{{url_for("index")}}' role="button" class="btn btn-primary btn-large"> Design </a>
  <a href='{{url_for("plate_delete", platename=plate.name)}}' role="button" class="btn btn-success btn-danger">Delete</a>
</div>

{% endblock %}

{% block content %}

{% if plate %}
  <div class='container'>
    <div class='row'>
      <div class="col-md-2">
        <h4>project:</h4>
      </div>
      <div class="col-md-4">
        <a href='{{url_for("project",projectid=plate.project.id)}}'
          <p>{{plate.project.name}}</p>
        </a>
      </div>
    </div>
    <div class='row'>
      <div class="col-md-2">
        <h4>submission date:</h4>
      </div>
      <div class="col-md-4">
        {{plate.submission_date}}
      </div>
    </div>
    <div class='row'>
      <div class="col-md-2">
        <h4>protocol:</h4>
      </div>
      <div class="col-md-4">
        {{plate.protocol}}
      </div>
    </div>
    <div class='row'>
      <div class="col-md-2">
        <h4>wells:</h4>
      </div>
      <div class="col-md-4">
        {{plate.wells | length}}
      </div>
    </div>

    {% if designs %}
      <div class='row'>
        <div class="col-md-6">
            <h2> Designs </h2>
        </div>
      </div>
      <div class='row'>
        <div class="col-md-6">
          <table class='table table-hover'>
              <thead>
                <tr>
                  <th class='text-center'>design</th>
                  <th class='text-center'>values</th>
                </tr>
              </thead>
              <tbody>
                {% for d in designs %}
                    <tr>
                      <td class='text-center'> <a href='{{url_for('design', _id=d.id, plate=plate.name)}}'> {{ d.name }} </a></td>
                      <td class='text-center'>
                        {% for ed in d.values|sort(attribute='value') %}
                          <a href='{{url_for('experimentalDesign', _id=ed.id, plate=plate.name)}}'> {{ ed.value }} </a>,
                        {% endfor %}
                      </td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
      </div>
    </div>
    {% endif %}
{% endif %}

{% endblock %}
