{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block subheading %}
plate create
{% endblock %}

{% block content %}

<form action="{{url_for('plate.plate_create')}}" method='POST' enctype="multipart/form-data">
  <div class="form-group">
    <label for="source">Project</label>
    {{ form.project(class_="form-control") }}
  </div>
  <div class="form-group">
    <label for="platename">Plate name</label>
    {{ form.name(size=30,placeholder="plate name", class_="form-control") }}
  </div>
  <div class="form-group">
    <label for="datafile">Data file</label>
    {{ form.data(class_="form-control") }}
  </div>
  <div class="form-group">
    <label for="metafile">Experimental design file (optional)</label>
    {{ form.design(class_="form-control") }}
  </div>
  <div class="form-group">
    <label for="source">Source</label>
    {{ form.source(class_="form-control") }}
    <p class="help-block">The source of the data determines how the input is processed.</p>
  </div>
  <div class="form-group">
    <label for="ignore">Ignore designs:</label>
    {{ form.ignore(size=30,placeholder="e.g. foo, bar, ...", class_="form-control") }}
  </div>
  <button type="submit" id="myButton" class="btn btn-default" data-loading-text="Creating...">
     <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Create
  </button>
  <script>
    $('#myButton').on('click', function () {
      var $btn = $(this).button('loading')
    })
  </script>
</form>

{% endblock %}
