{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block subheading %}
{{project.name}}
{% endblock %}

{% block controls %}
<div class="btn-group-vertical" role="group" >
  <a href='{{url_for("index")}}' role="button" class="btn btn-success btn-large">Edit</a>
  {% if not project.published %}
  <a href='{{url_for("project_publish", projectid=project.id)}}' role="button" class="btn btn-primary btn-large">Publish</a>
  {% else %}
  <a href='{{url_for("project_unpublish", projectid=project.id)}}' role="button" class="btn btn-primary btn-large">un-Publish</a>
  {% endif %}
  <a href='{{url_for("index")}}' role="button" class="btn btn-danger btn-large">Delete</a>
</div>

{% endblock %}

{% block content %}

{% if project %}

  <!-- <div class='container'> -->
    <!-- <div class='row'>
      <div class="col-md-8"> -->
        <table class="table table-bordered">
          <tr>
            <td class="col-md-2"> created by </td>
            <td> {{project.owner.name}}</td>
          </tr>
          <tr>
            <td class="col-md-2"> creation date </td>
            <td> {{project.submission_date}}</td>
          </tr>
          <tr>
            <td class="col-md-2"> last modified </td>
            <td> {{project.modified_date}}</td>
          </tr>
          <tr>
            <td class="col-md-2"> published </td>
            <td> {% if project.published %} yes {% else %} no {% endif %}</td>
          </tr>
        </table>
      <!-- </div>
    </div>
  </div> -->

  <h3> plates </h3>
  <table class='table table-hover'>
    <thead>
      <tr>
        <th class='text-center'>plate</th>
        <th class='text-center'>project</th>
        <th class='text-center'>wells</th>
      </tr>
    </thead>
    <tbody>
      {% for plate in project.plates %}
          <tr>
            <td class='text-center'> <a href="{{url_for('plate', platename=plate.name)}}"> {{ plate.name|e }} </a></td>
            <!-- <td class='text-center'>{{plate.project }}</td> -->
            <td class='text-center'> <a href="{{url_for('project', projectid=plate.project.id)}}"> {{plate.project.name }} </a></td>
            <td class='text-center'>{{plate.wells | length}}</td>
          </tr>
      {% endfor %}
    </tbody>
  </table>

  <h3> designs </h3>
  <table class='table table-hover'>
    <thead>
      <tr>
        <th class='text-center'>design</th>
        <th class='text-center'>project</th>
        <th class='text-center'>values</th>
        <th class='text-center'>type</th>

      </tr>
    </thead>
    <tbody>
      {% for d in project.designs %}
          <tr>
            <td class='text-center'> <a href="{{url_for('design', _id=d.id)}}"> {{ d.name|e }} </a></td>
            <td class='text-center'> <a href="{{url_for('project', projectid=d.project.id)}}"> {{d.project.name }} </a></td>
            <td class='text-center'>{{d.values | length}}</td>
            <td class='text-center'>{{d.type }}</td>
          </tr>
      {% endfor %}
    </tbody>
  </table>

{% endif %}

{% endblock %}
