li a{
    color: green;
}

a{
    color: green;
}

table tr {
        text-align: center;
        padding: 25px;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 5px;
}

#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}

#controls {
	text-align: center;
    max-width: 500px;
    /*height: 100px;*/
    /*border: 3px solid #73AD21;*/
    line-height:30px;
    /*background-color:#eeeeee;*/
    float:left;
    /*padding:5px;*/
    /*padding-top: 5px;*/
}

#controls div{
	/*border: 3px solid black;*/
	/*padding:5px;*/
	background-color:#d9d9d9;
}

#controls ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #d9d9d9;
    /*max-width: 500px;*/
}

#controls li a {
    display: block;
    /*width: 200px;*/
    margin: 0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#controls li a:hover {
    background-color: #111;
}



#navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #d9d9d9;
    padding-left: 140px;
    /*max-width: 500px;*/
}

#navigation li a {
    display: block;
    /*width: 200px;*/
    margin: 0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navigation li{
    float: left;
}

#navigation li a:hover {
    background-color: #111;
}

#content {
    padding-left: 100px
}

.page-links {
    float: center
}


table.element-list {
	/*width: 50%;*/
	/*padding:5px;*/
}

/*Loader code*/

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;

    border: 3px solid #3498db;
    z-index: 1500;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 3px solid #e74c3c;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border: 3px solid #f9c922;
}

/* change border to transparent and set only border-top to a solid color */
#loader {
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 1.5s linear infinite;
animation: spin 1.5s linear infinite;
}
#loader:before {
    border: 3px solid transparent;
    border-top-color: #e74c3c;
}
#loader:after {
    border: 3px solid transparent;
    border-top-color: #f9c922;
}
#loader {
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#loader {
    border-radius: 50%;
}
#loader:before {
    border-radius: 50%;
}
#loader:after {
    border-radius: 50%;
}

@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);  /* IE 9 */
    transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
}
 
.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);  /* IE 9 */
    transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
}

.loaded #loader {
    opacity: 0;
}

.loaded #loader-wrapper {
    visibility: hidden;
}